<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/icon/css/fontawesome.css">
    <link rel="stylesheet" href="/icon/css/brands.css">
    <link rel="stylesheet" href="/icon/css/solid.css">

    <script src="/js/d3.v7.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>

    <title>信息</title>
</head>
<body>

<header class="container-fluid d-flex justify-content-between" style="background-color: rgb(246, 238, 227);">

    <div class="p-2">
        <img src="/image/bbmLogo.jpeg" alt="School Logo" width="350vw">
    </div>

    <div class="p-2">
        <h1 style="font-size: 4vmax; color: rgb(161, 63, 11);">
            专业论文选题管理系统
        </h1>
    </div>

    <div class="p-2 ">
        <a href="/message">
            <i class="fa-solid fa-envelope fa-3x" style="color: #006c39;"></i>
            <!-- <span class="badge badge-danger">4</span> -->
        </a>
    </div>
</header>

<section class="row">
    <nav class="col-2">
        <div class="bgColor-g" style="height: 85vh;">
            <ul class="nav nav-pills nav-justified flex-column">
                <li class="nav-item border-bottom border-white">
                    <a class="nav-link " style="height: 6vh;" href="/homePage">首页</a>
                </li>
                <li class="nav-item border-bottom border-white">
                    <p class="nav-link mb-0" style="height: 6vh;" href="#">选题分析</p>
                    <ul class="nav nav-pills flex-column pl-5">
                        <li class="nav-item border-bottom border-top border-white">
                            <a class="nav-link " href="/insertArticle">导入文献</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="/searchArticle">检索文献</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item border-bottom border-white">
                    <a class="nav-link " style="height: 6vh;" href="/searchHistory">查询记录</a>
                </li>
                <li class="nav-item border-bottom border-white">
                    <a class="nav-link" style="height: 6vh;" href="/profile">个人中心</a>
                </li>

            </ul>
            <div class="nav-item border-top border-white" style="position: fixed; bottom: 0; width: auto;">
                <a class="nav-link ml-4" style="height: 6vh;" href="/logout">退出登录</a>
            </div>
        </div>
    </nav>
    <aside class="col-10">

        <div class="card m-3 rounded-lg shadow" style="height: 40vh; overflow:auto;">
<!--            <form action="/searchUser" method="post" class="form-inline">-->
<!--                <label for="searchId">搜索 : </label>-->
<!--                <input type="text" class="form-control" placeholder="输入ID" id="searchId" name="searchId">-->
<!--                <button type="submit" class="btn bgColor-g text-white">搜索</button>-->
<!--            </form>-->
            <table class="table table-hover">
                <thead style="position: sticky; top:0;" class="bgColor-g">
                <tr>
                    <th>User Id</th>
                    <th>User Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="users : ${usersList}" th:if="${users.userAccessLvl != 3 and users.userId != ckid}">
                    <td th:text="${users.userId}" style="width: 10%;">News Content</td>
                    <td th:text="${users.userName}" style="width: auto;">News Content</td>
                    <td style="width: 10%;">
                        <form action="/chatUser" method="post">
                            <input type="hidden" th:value="${users.userId}" name="selectUsersId">
                            <input type="hidden" th:value="${users.userName}" name="selectUserName">
                            <input type="hidden" th:value="${ckid}" name="userId">
                            <button type="submit" class="btn btn-info">打开聊天</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card m-3 rounded-lg shadow" style="height: 40vh; " >
            <div>
                <form class="bgColor-g p-1 m-1">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" th:value="${toUserId}" readonly>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" th:value="${toUserName}" readonly>
                        </div>
                    </div>
                </form>
            </div>
            <div style="overflow:auto; height:80%" id="scrollDown">
                <table class="table">
                    <tr th:each="chat : ${chatList}">
                        <td th:text="${chat.from_user}" style="width: 5%;">News Content</td>
                        <td th:text="${chat.message}" style="width: 95%;">News Content</td>
                    </tr>
                </table>
            </div>
                <hr>
            <div class="mt-2 mb-3">
                <form action="/sendMessage" method="post" class="need-validation" id="sendChat">
                    <div class="row">
                        <div class="col-2">
                            <label for="chat" class="ml-5 mr-2">信息 : </label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="输入信息" id="chat" name="chat" required>
                        </div>
                        <div class="col-2">
                            <input type="hidden" th:value="${toUserId}" name="toUser" required>
                            <input type="hidden" th:value="${fromUserId}" name="fromUser" required>
                            <input type="hidden" th:value="${toUserName}" name="toUserName" required>
                            <button type="submit" class="btn btn-success">发送信息</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </aside>
</section>
<script type="text/javascript">
    var scrollableElement = document.getElementById("scrollDown");
    console.log("Scrollable element:", scrollableElement);
    if (scrollableElement) {
        scrollableElement.scrollTop = scrollableElement.scrollHeight;
    } else {
        console.log("Scrollable element not found.");
    }
</script>
<script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
</script>
<script type="text/javascript">
    if ('WebSocket' in window) {
        var websocket = new WebSocket('ws://localhost:8080/message');
        websocket.onerror = function(event) {
            console.error("WebSocket connection error:", event);
        };
        websocket.onopen = function() {
            console.log("WebSocket connection successful.");
        };
        websocket.onmessage = function(event) {
            console.log("Received message: " + event.data);
            if (event.data === "Database update detected!") {
                var form = document.getElementById('sendChat');
                form.submit();
                console.log("hello world")
            }
        };
        window.onbeforeunload = function() {
            try {
                websocket.close();
            } catch (e) {
                console.error("Error closing WebSocket:", e);
            }
        };
    } else {
        console.error("WebSocket is not supported by your browser.");
    }
</script>
</body>
</html>